html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

@font-face {
   font-family: bit;
   src: url("PoppkornRegular-MzKY.ttf");
}

h1 {
  font-family: bit;
  font-size: 60px;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 140px;
  height: 90px;
  position: absolute;
  /* transform: translate(-50%, -50%);*/
  right: 25%;
  bottom: 0px; 
  /*Steps should be equal to number of frames*/
}
.container.anim {
  background: url(sit.png);
  animation: kick 0.5s steps(6) infinite;
}
.container.noanim {
  animation: kick 0.5s steps(6) none;
  background: url(rest.png);
  repeat-background: no-repeat;
}
@keyframes kick {
  0% {
    background-position: 0 0;
  }
  /* Use height of image here as y position */
  100% {
    background-position: 0 -540px;
  }
}
